body {
    background-color: red;
}

main {
    background-image: url("https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w1200/2023/10/free-images.jpg"
        );
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}